<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Amazon Recognition</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.js"></script>
</head>

<body ng-app="mainModule"  ng-controller="fileAdd as up">

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">   
            <form name="up.upload_form">
                    <h3>Choose file to load...</h3>
                <input 
                type="file" 
                ngf-select 
                ng-model="up.file" 
                name="file" 
                ngf-pattern="'image/*'"
                accept="image/*" 
                ngf-max-size="5MB" 
                />
            
                <i ng-show="up.upload_form.file.$error.required">*required</i><br>
                <i ng-show="up.upload_form.file.$error.maxSize">File too large 
                {{up.file.size / 1000000|number:1}}MB: max 5M</i>
                <button type="submit" ng-click="up.submit()">submit</button>
                <p>{{up.progress}}
            </form>
                    <span  ng-if="tmpMessage">waiting for recognition...</span>

        </div>
    <!--<div ng-if="tmpMessage">-->
    <!--</div>-->

    </div>


    
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h3>File List</h3>
            <ul ng-repeat="file in fileList" class='list-group text-center'>
                <li ng-click="sendFileName(this);idChecker(this)" class="list-group-item block-center">
                    <a ng-show="isShowableTag" href="">{{ file.fileName }} </a>
                    <span ng-click="removeFile(this)" class='close'>×</span>
                    <img ng-show="isValidId(this)" class="img-responsive" src="/images/{{ file.fileName }}" alt="{{ file.fileName }}">
                </li>
            </ul>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6" style="background-color:white;">
            <h2>Recognized data</h2>
            <table class="table">
                <th ng-click="orderByTableHeader('Name')">Name</th>
                <th ng-click="orderByTableHeader('Confidence')">Confidence</th>
                <tr ng-repeat="recognized in recognizedData | orderBy:tableHeader:true">
                    <td>{{ recognized.Name }}</td>
                    <td>{{ recognized.Confidence }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>

    <script type="text/javascript" src="/javascripts/mainModule.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/fileUploader.js"></script>
    <script type="text/javascript" src="/javascripts/ng-file-upload.js"></script>
    <script type="text/javascript" src="/javascripts/ng-file-upload-shim.js"></script>

</body>

</html>